@use "../../styles/variables" as v;

// 1. O Overlay (Fundo Escuro)
.todo-modal-overlay {
  position: fixed; // Fixa na tela inteira
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  // O efeito de "desligar a luz"
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px); // O desfoque (Blur)

  z-index: 1000; // Garante que fique no topo
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;

  // Animação suave
  animation: fadeIn 0.2s ease-out;
}

// 2. A Janela (Modal)
.todo-modal-content {
  background-color: v.$color-white;
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  padding: 2.5rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  animation: slideUp 0.3s cubic-bezier(0.16, 1, 0.3, 1);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      color: v.$color-grey-dark;
    }

    .close-button {
      background: none;
      border: none;
      color: v.$color-grey-medium;
      font-size: 2rem;
      cursor: pointer;
      display: flex;
      &:hover {
        color: v.$color-signal-danger;
      }
    }
  }

  &__input {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    border: 1px solid v.$color-grey-light;
    border-radius: 8px;
    margin-bottom: 2.5rem;
    color: v.$color-grey-dark;

    &:focus {
      outline: none;
      border-color: v.$color-signal-info;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-end; // Botões à direita
    gap: 1rem;

    button {
      padding: 1rem 2rem;
      font-size: 1.6rem;
      border-radius: 6px;
      font-weight: 600;
      cursor: pointer;
      border: none;
    }

    .btn-cancel {
      background-color: transparent;
      color: v.$color-grey-medium;
      &:hover {
        background-color: v.$color-grey-lightest;
      }
    }

    .btn-confirm {
      background-color: v.$color-signal-info;
      color: v.$color-white;
      &:hover {
        background-color: v.$color-signal-info-dark;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
