@use "../../styles/variables" as v;

.todo-item {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: v.$color-white;
  border: 1px solid v.$color-grey-light;
  border-radius: 8px;
  margin: 0 auto;
  padding: 1.2rem 1.6rem;

  &--editing {
    border-color: v.$color-signal-info;
    box-shadow: 0 0 0 3px hsla(205, 85%, 45%, 0.1);
  }

  &--complete {
    background-color: v.$color-grey-lightest;
    border-color: transparent;
  }

  &__left-side {
    width: max-content; // ? Achei muito melhor usar "max-content" nesse caso.
    // width: clamp(8rem, 10rem + 1vw, 12rem);
    display: flex;
    align-items: center;
    gap: 1.6rem;

    &__text {
      font-size: 1.6rem;
      color: v.$color-grey-dark;
      line-height: 1.4;
      word-break: break-word;

      &--complete {
        color: v.$color-grey-medium;
        // * Deixa com um traço no texto quando a tarefa é concluída.
        text-decoration: line-through;
      }
    }

    &__edit-input {
      // flex: 1;
      width: 100%;
      font-size: 1.6rem;
      padding: 0.5rem;
      border: none;
      border-bottom: 2px solid v.$color-signal-info;
      background: transparent;
      outline: none;
      color: v.$color-grey-dark;

      @media (max-width: v.$bp-sm) {
        max-width: 90%;
      }
    }

    &__check-button {
      min-width: 1.8rem; // ? Tamanho fixo para não amassar.
      height: 1.8rem;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: transparent;
      border: 1px solid v.$color-grey-medium;
      cursor: pointer;

      font-size: 1.4rem;
      // color: v.$color-grey-medium;
      color: transparent;
      padding: 0.1rem;
      border-radius: 6px;

      transition: all 0.2s ease;

      &--complete {
        color: v.$color-white;
        background-color: v.$color-signal-success;
        border-color: v.$color-signal-success;

        &:hover {
          // ! Hover pra quando ja está marcado.
          background-color: hsla(145, 63%, 42%, 0.1);
          border-color: transparent;
        }
      }

      &:hover {
        // ! Hover pra quando está desmarcado.
        box-shadow: 0 0 2px 1px hsla(0, 0%, 50%, 0.4);
      }
    }
  }

  &__right-side {
    // * Container dos botões.
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.6rem;

    @media (max-width: v.$bp-sm) {
      gap: 1rem;
    }

    &__action-btn {
      // ! Resetando a aparência do botão.
      background-color: transparent;
      border: none;
      cursor: pointer;
      // * Estilizando o ícone (ícones do react-icons são como texto).
      font-size: 1.6rem;
      color: v.$color-grey-medium;
      padding: 0.5rem;
      border-radius: 6px;
      // * Centralizando.
      display: flex;
      justify-content: center;
      align-items: center;

      transition: all 0.2s ease;

      &--delete-btn {
        color: v.$color-grey-medium;
        &:hover {
          color: v.$color-signal-danger;
          background-color: v.$color-grey-lightest;
        }
      }

      &--edit-btn {
        color: v.$color-grey-medium;
        &:hover {
          color: v.$color-signal-info;
          background-color: v.$color-grey-lightest;
        }
      }

      &--save-btn {
        color: v.$color-signal-success;
        &:hover {
          background-color: hsla(145, 63%, 42%, 0.1);
        }
      }

      &--cancel-btn {
        color: v.$color-signal-danger;
        &:hover {
          background-color: hsla(0, 79%, 63%, 0.1);
        }
      }
    }
  }

  /*
  # Traduzindo esse &:not(las-child):
    * 1- :last-child (O "Último Filho"): É uma "pseudo-classe" do CSS. Ela seleciona o item que é o último filho de seu container-pai (no caso, o último <li> dentro do <ul>).

    * 2- :not(...) (O "Não"): É outra pseudo-classe. Ela é uma negação, significando "selecione qualquer coisa que NÃO SEJA o que está dentro dos parênteses".
  */
  &:not(:last-child) {
    // * Então todos os itens terão as propriedades aqui escritas, menos último item.
    margin-bottom: 1rem;
  }
}
