@use "../../styles/variables" as variables;

.todo-list {
  width: 100%;

  &__empty-message {
    text-align: center;
    font-size: 1.6rem;
    color: variables.$color-grey-medium;
    padding: 2rem 0;
    font-style: italic;
  }

  &__list {
    list-style: none;
    width: 100%;
  }
}
