.app {
  width: 100%;
  min-height: 100vh; // ? Altura mínima da tela.
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;

  &__main {
    position: relative;
    flex: 1;
    max-width: 800px;
    width: 100%;
    height: 100%;
    padding: 2rem 1rem 0;
  }
}
