// 1. Breakpoints:
$bp-sm: 600px; // ? "bp" = breakpoint e "sm" = small e assim por diante.
$bp-md: 900px;
$bp-lg: 1200px;

// ! --- Paleta de Cores Neutras (Grayscale) ---
$color-white: hsl(0, 0%, 100%);
$color-grey-lightest: hsl(0, 0%, 97%); // ? Para fundos "quase brancos".
$color-grey-light: hsl(0, 0%, 90%); // ? Para bordas.
$color-grey-medium: hsl(0, 0%, 50%); // ? Para texto secundário.
$color-grey-dark: hsl(0, 0%, 20%); // ? Para texto principal.
$color-black: hsl(0, 0%, 10%); // ? Um "preto" mais suave que 0%.

// ! --- Paleta de Cores de Sinal ---
$color-signal-info: hsl(205, 85%, 45%); // ? Azul (como o botão).
$color-signal-info-dark: hsl(205, 85%, 35%); // ? Azul para o "hover".
$color-signal-success: hsl(145, 63%, 42%); // ? Verde.
$color-signal-warning: hsl(45, 90%, 50%); // ? Amarelo.
$color-signal-danger: hsl(0, 79%, 63%); // ? Vermelho.

// ! --- Cores de Marca ---
$color-brand-linkedin: hsl(210, 80%, 50%);
$color-brand-linkedin-dark: hsl(210, 80%, 40%);
$color-brand-github: $color-black;
