@use "../../styles/variables" as variables;

.header {
  width: 100%;
  background-color: variables.$color-white;

  &__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    // ! Ajuste para telas pequenas.
    @media (max-width: variables.$bp-sm) {
      padding: 2.5rem;
      gap: 1.5rem;
    }
  }

  &__title {
    color: variables.$color-grey-dark;

    /*
      # Usando clamp() para o título:
        * MIN: 2.4rem (24px).
        * PREFERIDO: cresce com a tela.
        * MAX: 3.2rem (32px).
    */
    font-size: clamp(1.4rem, 1.6rem + 1vw, 2rem);
    font-weight: 800;
    line-height: 1.2;

    .dot {
      color: variables.$color-signal-info;
    }
  }

  // ! Barra de navegação.
  &__nav-list,
  &__left-side,
  &__right-side {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }

  // ! Estilizando cada link.
  &__nav-link {
    font-size: 1.4rem; // ? 16px.
    font-weight: 500;
    color: variables.$color-grey-medium;
    padding: 0.8rem 1.2rem;
    border-radius: 6px;
    transition: all 0.2s ease; // ? Efeito suave.

    &--active {
      color: variables.$color-signal-info; // Usando a nova cor
      font-weight: 700;
      background-color: hsla(205, 85%, 45%, 0.1); // Fundo da nova cor
    }

    &:hover {
      background-color: variables.$color-grey-lightest;
      color: variables.$color-grey-dark;
    }
  }
}
