@use "../../styles/variables" as v;

.footer {
  border-top: 1px solid v.$color-grey-light;
  padding: 2rem 0;
  margin-top: auto; // ? Importante para o sticky footer.
  width: 100%;

  &__container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    @media (min-width: v.$bp-sm) {
      flex-direction: row;
      justify-content: center;
    }
  }

  &__text {
    font-size: 1.2rem;
    color: v.$color-grey-medium;
    text-align: center;

    strong {
      color: v.$color-grey-dark;
      font-weight: 600;
    }
  }

  &__socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
  }

  &__socials-link {
    font-size: 2.4rem;
    color: v.$color-grey-medium;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s ease;

    &:hover {
      transform: translateY(-2px);
    }

    &--github {
      &:hover {
        color: v.$color-black;
      }
    }

    &--linkedin {
      &:hover {
        color: v.$color-brand-linkedin;
      }
    }
  }
}
