@use "../../styles/variables" as v;

.todo-toolbar {
  position: relative;
  width: 80%;
  display: flex;
  gap: 1.5rem;
  margin: 0 auto 2.5rem;

  // * Adaptação para telas menores.
  @media (max-width: v.$bp-sm) {
    flex-direction: column;
  }

  &__search {
    flex: 1; // ? Ocupa todo o espaço sobrando
    display: flex;
    align-items: center;
    background-color: v.$color-white;
    border: 1px solid v.$color-grey-light;
    border-radius: 8px;
    padding: 0 1.5rem;
    transition: all 0.2s ease;

    &:focus-within {
      border-color: v.$color-signal-info;
      box-shadow: 0 0 0 3px hsla(205, 85%, 45%, 0.1);
    }
  }

  &__search-icon {
    color: v.$color-grey-medium;
    margin-right: 1rem;
  }

  &__search-input {
    width: 100%;
    border: none;
    padding: 1.4rem 0;
    font-size: 1.6rem;
    color: v.$color-grey-dark;
    outline: none;

    &::placeholder {
      color: v.$color-grey-medium;
    }
  }

  &__add-button {
    height: 5rem;
    max-width: max-content;
    display: flex;
    align-items: center;

    background-color: v.$color-signal-info;
    color: v.$color-white;

    padding: 0 2.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: v.$color-signal-info-dark;
      transform: translateY(-2px); // ? Sobe suavemente o botão.
    }

    /*
      ! Adaptando botão "+" para mobile, deixando mais intuitivo e bonito.
    */
    @media (max-width: v.$bp-sm) {
      // ! Deixando o botão fixado no canto inferior direito da tela.
      position: fixed;
      bottom: 1.6rem;
      right: 1.6rem;
      height: 50px;
      width: 50px;

      // ! Para deixar o botão redondo.
      padding: 1.6rem;
      border-radius: 50%;
    }
  }
}
