@use "../../styles/variables" as v;

.todo-toolbar {
  position: relative;
  width: 80%;
  display: flex;
  gap: 1.5rem;
  margin: 0 auto 2.5rem;

  // * Adaptação para telas menores.
  @media (max-width: v.$bp-sm) {
    flex-direction: column;
  }

  &__search {
    flex: 1; // ? Ocupa todo o espaço sobrando
    display: flex;
    align-items: center;
    background-color: v.$color-white;
    border: 1px solid transparent;
    border-radius: 12px;
    padding: 0 1.5rem;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);

    &:focus-within {
      border-color: v.$color-signal-info;
      box-shadow: 0 4px 20px rgba(33, 150, 243, 0.15);
      transform: translateY(-1px);
    }
  }

  &__search-icon {
    color: v.$color-grey-medium;
    margin-right: 1.2rem;
    font-size: 1.4rem;
  }

  &__search-input {
    width: 100%;
    border: none;
    padding: 1.4rem 0;
    font-size: 1.6rem;
    color: v.$color-grey-dark;
    outline: none;
    background: transparent;

    &::placeholder {
      color: v.$color-grey-medium;
    }
  }

  &__add-button {
    height: 5rem;
    max-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    background: linear-gradient(
      135deg,
      v.$color-signal-info,
      v.$color-signal-info-dark
    );
    color: v.$color-white;

    padding: 0 2.5rem;
    border: none;
    border-radius: 12px;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

    box-shadow: 0 8px 20px rgba(33, 150, 243, 0.3);

    &:hover {
      box-shadow: 0 12px 24px rgba(33, 150, 243, 0.4);
      transform: translateY(-2px); // ? Sobe suavemente o botão.
    }

    /*
      ! Adaptando botão "+" para mobile, deixando mais intuitivo e bonito.
    */
    @media (max-width: v.$bp-sm) {
      // ! Deixando o botão fixado no canto inferior direito da tela.
      position: fixed;
      bottom: 3rem;
      right: 3rem;

      // ! Para deixar o botão redondo.
      width: 5rem;
      padding: 1.8rem;
      border-radius: 50%;
      scale: 1.2;
    }
  }
}
