.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;

  &__main {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    padding: 2rem 1rem 0;
  }
}
